body{
    background-color: rgb(202, 183, 146);
}
#ip{
    width: 50%;
    height: 600px;
    margin: 0px auto;
    display:block ;
}
.galerie{
    width: 30%;
    height: 500px;
    margin: 0 5px;
    object-fit: cover;
}